frost cake
put pan in oven
mix all the wet ingredients together in one bowl
get out vegetable oil
frost it
cake pans
set the timer
bake cake
mix dry ingredients well
get your recipe
test if it cooked by inserting a toothpick when it comes clean out it is cooked
put cake in oven
make the chocolate mixture
turn off oven
pour batter in pan
use pot holder to remove from oven
put the pan in the oven
take cake out of oven when it is done
let cool and cut slices
place in the oven for set amount of time
open up cake box
put cake batter on pan
prepare your cake
put dish in oven
take out cake pan and lightly grease inside of pan
carefully remove cake from pan
put cake in oven
take it out
let cool
after ten minutes flip cake out onto cooling rack
mix the wet ingredients in a bowl
get baking pan
let cake cool
put into oven
pour in pan
remove from oven
eat cake
gather ingredients
mix together
wait for cake to bake
pour into a baking pan
get baking pan
gather ingredients
remove from oven
bake cake
eat the cake
let cool
mix in the extra ingredients
bake a cake for the duration of instructed time
mix ingredients together in a bowl
buy other ingredients if you do not have at home
when cake is done remove from oven
frost your cake
pour ingredients into a cake pan
add ingredients in mixing bowl
get mixing bowl
bake cake
pour batter into cake pan
get cake pan utensils mixer
serve to family or friends
receive the book back
get library card back
select book
wait for the clerk to check the books out to you
enter the library
read books
use the card catalog or computer reference to find the book of your choice
take to counter
take the book with you
take book and library card
hand librarian book and library card
exit the library
leave library with borrowed book
find a book to borrow
go to the main desk
remove the book from the shelf
find a book
find book to check out
return by said date on receipt
give the person book and library card
leave library
leave library with book
give librarian my library card
enter the library
take book back from librarian
take it to the desk
go to the librarian s desk
show the librarian your library card
take the book
find book on shelf
select a book
get book
get in car
go home
check out the book
walk up to the desk
leave the library with the book
borrow the book using library card
use computer to find book location
give them your card and book
take my books from the clerk
select a book
scan the rows of books for titles that interest me
drive home
wait in line
wait in line
get on the plane
get boarding pass
empty pockets
go through security
board plane
go through security
board plane
proceed to gate
check in
go to the bathroom
relax
drain water
wait
enjoy
enjoy
drain water
leave
remove clothes
wait
take out clothes
remove clothing
start the water
eat
eat
go to counter
go to counter
arrive at the airport one to three hours before departure
put your seatbelt on
get off plane when it lands
gather luggage
arrive at airport
enter the airplane
fly to your destination
plane takes off
choose seat
when called walk to ticket agent and hand her ticket
board the plane
get off plane
leave plane
have food supplied
remove seat belt upon landing
go through security
leave airport
park
put carry on luggage in overhead bin
board flight
go through customs
pack a bag
get in security line
fly to destination
enter airport
walk to plane
land
sit in your seat
leave plane when arrived at destination
place luggage above seats
enjoy the plane ride
board plane
fly
find assigned seat and sit down
receive boarding pass
go through security
check luggage
sit down
buckle your seat belt
leave plane
find seat
go through security check
sit in seat
board airplane
board plane
ride
buckle seatbelt
get receipt
get into car
find assigned seat
find your seat
purchase ticket
upon landing unfasten seat belt
go to check in counter
empty pockets into provided tray
gather carry on items
put your carry on in the overhead compartment
go to airport
go to check in for airline
go to bathroom
fasten seatbelt
packing the luggage
go through security checkpoint
get dressed
go to the bathroom before boarding
reclaim contents of pockets and carry on luggage
buy plane tickets
ride until the plane has arrived at your destination
check in
proceed through security
remove shoes
find your seat
look at yourself in the mirror
beautician cuts hair
get long drape to cover clothing fastened at neck
call salon and make an appointment
sitting in seat
ask barber for desired cut style
wait till their is an available barber
dry your hair
wait for appointment
pay the amount
wait for name to be called
go to salon for appointment
pay and tip beautician
leave salon
sit in chair
leave shop
get seated
leave
sit in salon chair
sit still in the chair and let the stylist cut your hair
oooh and ahhhh when she shows you the final result
sit in chair
go to hair salon
leave salon
discuss desired cut with your stylist
sit while she cuts your hair
tell the stylist what haircut i want
wait for stylist
tip stylist
watch stylist cut your hair
wait your turn
the barber buzzes the back of the neck
brush off stray hairs
leave barber shop
tell barber how to cut hair
drive home
check in the mirror once done
tell hairdresser what you want
drive to salon
tip the stylist
tip stylist
go home
go home
leave the barber shop
leave the saloon
sit down
leave house
go home
drive home
go to counter
go in
find items on your list
cross them off your list
get coupons
put food away in kitchen
get items on list
get in car
pay total
go to the teller with the items
get the bill
get everything on your list
check for the price and validity
gather items on list
then shop for the packet items
go to the check out area
bring items to checkout
pay cashier
enter the grocery store and grab a shopping cart
drive home
make a trip to the store
get dressed to go out
have cashier check you out
make a list
pay and check out
take bags to car
walk through store and place items you want into cart
place cart into cart corral
pay for items
take a shopping cart
make grocery list based off of menu
turn the car on
go to the store
get grocery cart
wait for the cashier to ring the order up
go to check out stand and pay for items
find items on list
pay the cashier
place items on conveyer belt
go inside and pick up items
find the food you need and put in cart
get in checkout line
drive to store
drive to grocery store of choice
walk through aisles
get fruits and veggies on list
put groceries in car
put items away
get shopping cart
drive to the store
go to the grocery store
get grocery cart
get in car
drive to the store
go to the store
enter the store
go home
go to checkout lane
find items on list
leave grocery store
pay for groceries
put groceries in car
wait in line
make a grocery list
go inside
go inside
wait for your train to be announced
take a seat
wait for train
wait for stop
keep bag under the seat
wait for train to arrive
board train when it arrives
find rail for your train
train arrives
enjoy the outside sceneries while on the move
hand the attendant your ticket
find a seat
get off at your stop
sit back and relax
get in line
buy a ticket at the window
board train
get tickets from ticket counter
wait for boarding time for train
then you enjoy your destination
wait for train
wait in line
get on train
find a seat
find a seat
get off train
find seat
ride train
board train
sit or stand and wait for your train
go to the station
board train
board train
look for your seat
find your seat
find your seat
find your seat
wait for train
go to train station
find your seat
sit down
board train when it arrives
exit train
go inside
go home
eat
go home
get in car
dress
sit down
drive home
drive home
sign in
park car
drive home
wait to be called
get in car
get in car
go home
check in
get into car
drive home
check in
return home
pay for services
dress
go home
grab a towel
park your car
take a shower
find a seat
remove clothing
enjoy
go home
go home
get dressed
relax
use towel to dry off
take off clothes
get in car
relax
get a towel
rinse off
get naked
get a towel
get into car
find a seat
give ticket
find a seat
drive home
choose a seat
find seat
get in the car
park car
take a seat
go outside
enjoy
wait
stir
add eggs
get eggs
serve
take out eggs
add eggs
eat
eat
tell them what you want
get receipt
take items
place tree in hole
make sure your spot is not too close to your house allowing roots plenty of room
putting dirt over the seeds
put sapling in hole
plant seed seedling or bush
put the tree in the hole
dig in a circle all around the spot
get garden supplies
place the tree in the hole
put sapling in hole
select a correct place in my backyard
water very well
cover tree roots with dirt
wait patiently for tree to grow
make sure it is stable
replace the dirt
fill hole with dirt and fertilizer
water tree
water the tree
put in the ground
dig hole
fill watering can
put seed in hole
cover up hole
put water and fertilizer in hole
place the tree in the hole
place tree in hole
select location
get the hose
dig a hole
dig hole in the ground
go outside
fill hole with dirt
place tree in hole
wait
dig a hole
water
take off tube
pull out the rubber tube
remove the press
put new tire in its place
remove wheel
test tire pressure with gage
inflate the tire slowly
place tube in tire
ride bike
press the side wall of the tire back onto the rim
turn bike back over and ride
pump tire with air
mount tire back to wheel
put on spare tire
dry off tube
fill tire with air
place the tire back on your bike
fit tube into tire
apply glue around puncture
get air pump
take the cap off the tire
find air valve
inflate tube
remove tire
air up tire
seal tire and ride away
remove old tire
air up tire
you wait for it to dry
remove the pump
take out the tube from tire
put the tube back to the tire
allow to dry
enjoy
refill tire with air
take out inner tube
ride away
pump air into tire
pump air into tire
sit down
pay your bus fare
when bus arrives enter
get on the bus
wait for the bus
depart when you arrive at your destination
ride to destination
get off the bus
get off at your stop
drop change into money machine
once you arrive at destination get off the bus
find a seat if available or stand if necessary
pay for fare
wait for bus
pay attention for your stop
wait for bus to arrive
thank the driver possibly tip
sit down
get my wallet
wait for bus
wait for bus
exit bus
pay the fare
get on bus
pay fare
wait for bus
wait for your stop
board the bus
get off the bus
pay bus fare
wait for your stop
wait for bus
get off
wait for the bus
get off the bus
find a seat
get on the bus
find an empty seat
be sure you have exact change for the bus ride
find a seat and sit
driver opens door
climb stairs into bus
wait for bus to reach destination
wait for bus to stop
wait
thank them
wait patiently
get clothes
enter bath
pull off stopper in bathtub
place towel nearby
dry off with towel
get shampoo
soak in tub
drop soap in tub
walk into bathroom
dry off
fill tub with water
put stopper in and fill tub
get naked
close the bath tub water exit by the valve
add bubbles
fill tub to desired level
lay back and relax
apply soap to the whole body and rub with sponge
rinse with bath water
wash body
wait for the bath to fill up
adjust hot and cold water until desired warmth is reached
add soap to the bath
take a bath
unplug the stopper to drain water
relax
sit on toilet and wait for the tub to fill
stop water
get into bath
get into bath tub
open the shower
add bath bubbles if needed
drain bathtub
step into bath tub
turn on water
dry off with towel
dry off
wait for water to fill
dry off
wash your body
take clothes off
turn on water
wash hair
remove your clothes
leave the bathroom
turn on the shower
relax
step into tub
turn on water
get out of tub
get in tub
close drain
add bubble bath
take off clothes
rinse off
drain tub
enter the bathroom
get into bathtub
get into tub
get in tub
turn on water
get undressed
remove clothing
exit bathtub
get dressed
pull plug and drain bath tub
dry body and hair
relax
turn off hot and cold taps
step into bathtub
close the door
close the door
make appointment
go home
get in the car
go home
buckle seatbelt
rinse body
get undressed
turn on water
get towel
turn on water
rinse
dry off
rinse off
dry off with towel
dry off with towel
turn off water
turn off water
dry off with towel
get dressed
turn off water
turn off water
dry off
rinse off
turn off water
condition hair
wash hair
turn off water
rinse body
put soap on washcloth
use towel to dry off
remove clothes
take off clothes
dry body
remove clothes
train arrives
exit train
arrive at destination
sit in seat
get on train
find a seat
wait for stop
get on the train
find empty seat
get on the train
wait for your stop
get off at destination
get soap
turn on water
grab a towel
turn off water
rinse
undress
rinse
rinse
rinse
towel dry
turn off water
rinse
get towel
